    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}

.brand-logo2 img{
    height: 10%;
    width: 15%;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 3%;
}

.main-wrapper2{
    background-color: #972222f3;
    position: relative;
}

.corner-icon{
    position: absolute;
    bottom: -0.7%;
    right: 0%;
    
}

.text-heading{
    width: 100%;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    padding-bottom: 10%;
    color: white;
}

.text-heading p{
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1.7;
    color: #FFFFFF;
}

.main-title h2{
    font-size: 2.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 4%;
}

.main-title h1{
    color: white;
    font-size: 6.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.flex-topimg{
    display: flex;
    margin-left: 50px;
}

.flex-topimg h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.section-wrapper{
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 10%;
    margin-bottom: 10%;
    text-align: center;
    align-items: center;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

ul li{
    list-style: none;
}

.section-wrapper img{
    margin-top: 2%;
}

.flex-topimg img{
    margin-top: 4%;
}

ul li img{
    height: 70%;
    width: 60%;
}

.images-block{
    margin-top: 3%;
    
}

.section-colored{
    background-color: #972222f3;
    position: relative;
    padding: 6%;
}

.bottom-corner{
    position: absolute;
    right: 0%;
    bottom: -0.7%;
}

.heading-large h1{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    margin-top: auto;
    margin-left: 11%
}

ul li p{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.15;
    color: #000000;
}

ul li p span{
font-family: Arial, Helvetica, sans-serif;
    color: #972222f3;
    font-weight: 850;
    font-size: 1.2rem;
    
    word-spacing: 0.6px;
 
}

.bottom-corner img{
    width: 7rem;
    height: 7rem;
}

.corner-icon img{
    width: 7rem;
    height: 7rem;
    bottom: 0.3111111111rem;
}
